.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: josefin sans;
}

.login-wrapper {
  display: flex;
  overflow: hidden;
  flex: 1;

}

.login-form-container {
  flex: 1;
  padding: 40px;
  width: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-image {
  flex: 1;
}

.login-image img {
  width: 90%;
  height: 100vh;
  object-fit: cover;
  margin-left: 75px;
}

.login-form-container h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 9vh;
  color: #602E1A;
}

.form-group1 {
  margin-bottom: 20px;
}

.input-wrapper {
  position: relative;
  border: 1.5px solid #602E1A;
  border-radius: 5px;
  width: 60vh;

}

input:focus {
  outline: none;
  border: none; 
}

.input-wrapper input {
  width: 100%;
  padding: 12px;
  box-sizing: border-box; 
  font-size: 16px;
  background-color: #E3CBB3;
}

.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.remember-me {
  display: flex;
  align-items: center;
  color: #602E1A;
}

.remember-me span {
  margin-left: 8px;
}

.forgot-password {
  color: #602E1A;
}

.login-button {
  width: 40%;
  padding: 12px;
  background-color: #602E1A;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; 
  margin-left: 8rem;
  margin-top: 1rem;
}

.login-button:hover {
  background-color: #965D45; 
}

.login-button:disabled {
  background-color: #965D45;
  cursor: default;
}

.line1{
  width: 60vh;
  height: 0.1vh;
  background-color: #602E1A ;
  margin-top: 5vh;
}
.signup-link {
  text-align: center;
  margin-top: 20px;
}

.signup-link a {
  color: #602E1A;
}

.social-media{
  margin-top: 30px;
}

.input-wrapper input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
select,
textarea {
  padding: 0.75rem;
  border: 1px solid #572e0f;
  background-color: #E3CBB3;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.2s;
}

.input-wrapper input:focus,
select:focus,
textarea:focus {
  border-color: #572e0f;
  background-color: #E3CBB3;
  outline: none;
}

/* Responsive adjustments (example) */
@media (max-width: 768px) {
  .login-wrapper {
    flex-direction: column; /* Stack form and image vertically */
    width: 90%;
  }
  .login-image {
    order: -1; /* Place image above form on smaller screens */
  }
  .login-form-container {
    padding: 20px;
  }
}