.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #BD8E7B;
  padding: 10px 20px;
  color: white;
}

.logo1 {
  font-size: 24px;
  cursor: pointer;
  height: 45px;
}

.logo1>img {
  height: 60px;
  margin-top: -10px;
}

.nav-links button {
  background-color: #BD8E7B;
  color:#472313;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin: 0 10px;
  font-size:20px;
  font-weight: 600;
}

.nav-links button:hover {
  color:white;
  background-color: #BD8E7B;
}

.user-dropdown {
  position: relative;
  display: inline-block;
}

.user-tooltip {
  display: none;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #60211A;
  font-size: 1.2rem;
  color: white;
  height: 50%;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
}

.user-btn:hover + .user-tooltip {
  display: block;
}
