.img1{
  width: 100%;
  height: 75vh;
}

.img2{
  width: 75%;
  height: 65vh;
  margin-left: 13.5%;
  margin-top: 5px;
}

.img3{
    width: 100%;
    height: 90vh;
}

.rent-button {
    padding: 12px 20px;
    background-color: #572e0f;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40rem;
  }
  
  .rent-button:hover {
    background-color: #945E47;
  }
  
  /* Responsive Design
  @media (max-width: 768px) {
    .modal-content {
      width: 90%;
      height: 70%;
    }
  } */
  